#
1. Print Simple Welcome message like “Welcome to the world of Python Programming”.

In [1]:
print("Welcome to the world of Python Programming")

Welcome to the world of Python Programming

#
2. Write a Python Program to print Your Personal Details like Name, Address, City, Pincode, PhoneNo etc.

In [2]:
print("------- Personal Information ---------")
print("Name : Bansari JIyani")
print("Address : Surat , Gujarat")
print("City : Surat")
print("Pincode : 395006")
print("Mobile No : 9016407466")

------- Personal Information ---------
Name : Bansari JIyani
Address : Surat , Gujarat
City : Surat
Pincode : 395006
Mobile No : 9016407466

#
3. Write a Python Program to print Book Details like Book Id, Book Title, AuthorName, PublisherName, Price etc.

In [4]:
print("----- BOOK DETAILS -----")
print("Book Id : a20034")
print("Book Title : Atomic Habits")
print("Author Name : James Clear")
print("Publisher Name : Penguin Random House")
print("Price : 700")

----- BOOK DETAILS -----
Book Id : a20034
Book Title : Atomic Habits
Author Name : James Clear
Publisher Name : Penguin Random House
Price : 700

#
4. Write a Python Program to print any Product Information like Product ID, Product Name, Price etc.

In [5]:
print("----- PRODUCT DETAILS -----")
print("Product Id : P12457")
print("Product Name : CPU")
print("Price : 5000")

----- PRODUCT DETAILS -----
Product Id : P12457
Product Name : CPU
Price : 5000

#
5. Write a Python Program to print mark sheet.

In [6]:
r_no = int(input("Enter roll no :"))
s_name = input("Enter name :")
s1 = int(input("Enter marks of subject 1 :"))
s2 = int(input("Enter marks of subject 2 :"))
s3 = int(input("Enter marks of subject 3 :"))
s4 = int(input("Enter marks of subject 4 :"))
total_marks = s1 + s2 + s3 + s4
per = (total_marks / 400)*100
grade = 'a'

if per>90:
    grade = 'A'
elif per>80 and per < 90:
    grade = 'B'
elif per>60 and per < 80:
    grade = 'C'
elif per>40 and per < 60:
    grade = 'D'
else :
    grade = 'E'
print("==================================")
print("-------------Result---------------")
print("==================================")
print("Total marks : ",total_marks)
print("percentage :",per,"%")
print("Grade : ",grade,"grade")

Enter roll no :60
Enter name :bansri jiyani
Enter marks of subject 1 :80
Enter marks of subject 2 :77
Enter marks of subject 3 :89
Enter marks of subject 4 :87
==================================
-------------Result---------------
==================================
Total marks :  333
percentage : 83.25 %
Grade :  B grade

#
6. Write a Python Program to print the following string. (Use of Escape Sequence for “ ” DOUBLE QUATE) Someone Said “Nothing is Impossible in this World”.

In [9]:
s = "Someone Said \"Nothing is Impossible in this World\" "
print(s)

Someone Said "Nothing is Impossible in this World"

#
8. Write a Python Program to display your visiting card.

In [13]:
shop_name = "Art Gallary"
owner = "Bansari Jiyani"
mail = "bansijiyani@gmail.com"
m_no = 9014539893
w_no = 3457652365

print("------- Visiting Card -------\nShop Name :",shop_name,"\nOwner Name : ",owner,"\nGmail : ",mail,"\nMobile No :",m_no,"\nWhatsApp No : ",w_no)

------- Visiting Card -------
Shop Name : Art Gallary
Owner Name :  Bansari Jiyani
Gmail :  bansijiyani@gmail.com
Mobile No : 9014539893
WhatsApp No :  3457652365

#
9. Write a Python Program to display your visiting card.
Write a Python Program to print the following string. (Use of Escape Sequence for ‘ ’ SINGLE QUATE) Someone Said ‘God is Great’.

In [11]:
s_q = "Someone said \'God is great\'"
print(s_q)

Someone said 'God is great'

10.

In [14]:
collage = input("Enter your collage name : ")
stream = input("Enter your Stream :")
y = input("Enter year :")
s = input("Enter semester : ")


print("--------- Collage information---------")
print("Collage Name : ",collage)
print("Stream : ",stream)
print("Year : ",y)
print("Semester : ",s)

Enter your collage name : DDU
Enter your Stream :MCA
Enter year :2
Enter semester : 3
Collage Name :  DDU
Stream :  MCA
Year :  2
Semester :  3

11.

In [18]:
n1 = int(input("Enter integer value :"))
n2 = float(input("Enter float value :"))
print("Nuber 1 :",n1)
print("Number 2: ",n2)

Enter integer value :4
Enter float value :7.8
Nuber 1 : 4
Number 2:  7.8

12

In [20]:
d = int(input("Enter dollar :"))
r = d * 80
print("Rupees : ",r)

Enter dollar :1
Rupees :  80

13.

In [21]:
r = int(input("Enter Rupees :"))
d = r/80
print("Dollar : ",d)

Enter Rupees :20
Dollar :  0.25

14.

In [22]:
l = int(input("Enter Liter :"))
m = l * 1000
print("Mililiter :",m)

Enter Liter :1
Mililiter : 1000

15.

In [23]:
f = int(input("Enter fehrenhit : "))
c = (f-32)/1.8
print("Celsius :",c)

Enter fehrenhit : 45
Celsius : 7.222222222222222

16.

In [24]:
km = int(input("Enter kilometer :"))
m = km * 1000
cm = m * 100
print("Miter : ",m)
print("Centimeter : ",cm)

Enter kilometer :23
Miter :  23000
Centimeter :  2300000

17.

In [26]:
p = int(input("Enter pound :"))
r = p*90
print("Rupees : ",r)

Enter pound :1
Rupees :  90

In [27]:
dollar = int(input("Enter Dollar :"))
p = dollar/2
print("Pound :",p)

Enter Dollar :2
Pound : 1.0

In [28]:
kg = float(input("Enter kg: "))
g = kg * 1000
print("Grams: ", g)

Enter kg: 3
Grams:  3000.0

In [29]:
g = float(input("Enter grams: "))
kg = g / 1000
print("Kg: ", kg)

Enter grams: 4500
Kg:  4.5

In [30]:
a = float(input("Enter number 1: "))
b = float(input("Enter number 2: "))

add = a + b
sub = a - b
mul = a * b
div = a / b

print("Add: ", add)
print("Sub: ", sub)
print("Mul: ", mul)
print("Div: ", div)

Enter number 1: 23
Enter number 2: 37
Add:  60.0
Sub:  -14.0
Mul:  851.0
Div:  0.6216216216216216

In [31]:
num = float(input("Enter number: "))
sq = num ** 2
cube = num ** 3

print("Square: ", sq)
print("Cube: ", cube)

Enter number: 3
Square:  9.0
Cube:  27.0

In [32]:
age1 = int(input("Enter age 1: "))
age2 = int(input("Enter age 2: "))
age3 = int(input("Enter age 3: "))

avg = (age1 + age2 + age3) / 3

print("Avg age: ", avg)

Enter age 1: 23
Enter age 2: 45
Enter age 3: 78
Avg age:  48.666666666666664

In [33]:
r = float(input("Enter radius: "))
area = 3.14 * r ** 2

print("Area: ", area)

Enter radius: 4
Area:  50.24

In [34]:
r = float(input("Enter radius: "))
circumference = 2 * 3.14 * r

print("Circumference: ", circumference)

Enter radius: 34
Circumference:  213.52

In [35]:
P = float(input("Enter principal: "))
R = float(input("Enter rate: "))
N = int(input("Enter time: "))

SI = (P * R * N) / 100

print("SI: ", SI)

Enter principal: 3400
Enter rate: 45
Enter time: 6
SI:  9180.0

In [36]:
P = float(input("Enter principal: "))
R = float(input("Enter rate: "))
N = int(input("Enter time: "))
CI = P * (1 + R / 100) ** N - P

print("CI: ", CI)

Enter principal: 3459
Enter rate: 56
Enter time: 5
CI:  28498.55564451841

In [37]:
P = float(input("Enter Amount: "))
R = float(input("Enter rate: "))
N = float(input("Enter time: "))

SI = (P * R * N) / 100
CI = P * (1 + R / 100) ** N - P
diff = CI - SI

print("SI: ", SI)
print("CI: ", CI)
print("Diff: ", diff)

Enter Amount: 1000
Enter rate: 2
Enter time: 5
SI:  100.0
CI:  104.08080319999999
Diff:  4.080803199999991

In [38]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

temp = a
a = b
b = temp

print("After swap a: ", a)
print("After swap b: ", b)

Enter first number: 2
Enter second number: 5
After swap a:  5
After swap b:  2

In [39]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

a = a+b
b = a-b
a = a -b

print("After swap a: ", a)
print("After swap b: ", b)

Enter first number: 2
Enter second number: 7
After swap a:  7
After swap b:  2

In [40]:
basic = int(input("Enter basic salary: "))

da = 0.40 * basic
hra = 0.20 * basic
gross = basic + da + hra

print("Gross salary: ", gross)

Enter basic salary: 23456
Gross salary:  37529.6

In [41]:
km = int(input("Enter distance in km: "))

meters = km * 1000
feet = meters * 3.33
inches = feet * 12
cm = meters * 100

print("Meters: ", meters)
print("Feet: ", feet)
print("Inches: ", inches)
print("CM: ", cm)

Enter distance in km: 23
Meters:  23000
Feet:  76590.0
Inches:  919080.0
CM:  2300000

In [42]:
days = int(input("Enter days: "))

years = days // 365
days = days % 365
months = days // 30
days = days % 30

print("Years: ", years)
print("Months: ", months)
print("Days: ", days)

Enter days: 23
Years:  0
Months:  0
Days:  23

In [44]:
price = int(input("Enter price: "))
d = 0.23 * price
print("Depreciation: ", d)

Enter price: 2300
Depreciation:  529.0

In [45]:
sale = int(input("Enter sale amount: "))
disc = 0.075 * sale
print("Discount: ", disc)

Enter sale amount: 1000
Discount:  75.0

In [46]:
b_s = float(input("Enter base salary: "))
qty = float(input("Enter quantity: "))
price = float(input("Enter price: "))

total_amt = qty * price
bonus = 0.125 * total_amt
commission = 0.085 * total_amt
gross_salary = b_s + bonus + commission

print("Gross salary: ", gross_salary)

Enter base salary: 60000
Enter quantity: 50
Enter price: 2500
Gross salary:  86250.0

In [47]:
n = float(input("Enter number: "))

x = int(n)
y = int((n - x) * 100)

print("x: ", x)
print("y: ", y)

Enter number: 23
x:  23
y:  0

In [48]:
n = int(input("Enter number: "))
right_digit = int(n) % 10
print("Right most digit: ", right_digit)

Enter number: 4590
Right most digit:  0

In [49]:
n = float(input("Enter number: "))
td = int(n) % 100
print("Right most two digits: ", td)

Enter number: 34567
Right most two digits:  67

In [50]:
l = float(input("Enter length: "))
b = float(input("Enter breadth: "))
h = float(input("Enter height: "))
area = l * b * h
print("Area: ", area)

Enter length: 10
Enter breadth: 10
Enter height: 10
Area:  1000.0